@import url("css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); 
/* font-weight: 400 for regular, 500 for medium */

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: white;
}

header {
    position: relative ;
    background-color: #c1c1c1;
}

header img {
    margin: 29px 0 0 39px;
    position: absolute;
    left: 39px;
    top: 29px;
}
nav {
    position: absolute;
    top: 128px;
    right: 30px;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
}
nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 23px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a.select {
    border-bottom: solid 4px #000;
    padding-bottom: 10px;
}

main {
    position: relative;
    top: 203px;
}

video {
    max-width: 100%;
    padding: 44px 0;
}

h2 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    padding: 29px 0;
}

section {
    margin: 35px;
    padding: 25px;
}

/* con flex! el bueno!
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
*/

.gallery {
    margin: 0 5%;
    width: 90%;
}

.image {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 23px 15px;
}

.rectangle {
    font-size: 18px;
    line-height: 41px;
    text-align: left;
    background-color: white;
    padding: 5px 15px;
    width: 205px;
    height: 41px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: -5px;
    top: 290px;
    z-index: 10;
}

.icon-position {
    position: absolute;
    z-index: 98;
    top: 275px;
    left: 315px;
}

.plus-icon {
    background: url("../img/plusicon.svg");
    display: block;
    height: 50px;
    width: 50px;
}

.formulario {
    position: relative;
    width: 666px;
    margin: auto 22.25%;
    font-size: 18px;
}

label {
    margin: 15px 0;
    display: block;
}

input, select {
    font-size: 18px;
    border: 0;
    color: #7e7e7e;
    background-color: rgba(148, 148, 148, 0.1);
    padding: 0 16px;
    height: 36px;
}

input:not([type="checkbox"]){ /* afecta a tots els inputs excepte el de tipus checkbox!*/
    width: 100%;
}

select {
    width: 699px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    background: url("../img/selectarrow.svg") 97% / 1.9% no-repeat rgba(148, 148, 148, 0.1);
}

.politic {
    position: relative;
}

.check {
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 0;
    background-color: #f1f1f1;
    height: 22px;
    width: 22px;
    position: absolute;
    padding: 1px; 
    /* por algún motivo, si no pongo padding se convierte en un rectangulo que se niega a hacer caso a la width. es un misterio, pero funciona en chrome, safari y firefox. */
}

.small-text {
    font-size: 12px;
    color: black;
    height: 22px;
    line-height: 22px;
    margin: 33px;
}

.small-text a {
    color: black;
}

button {
    font-size: 14px;
    background-color: #069697;
    border: none;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    width: 175px;
    height: 50px;
    display: block;
    margin: 88px auto;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}


footer {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    height: 193px;
    padding: 54px 1% 0 1%;
    margin: 0;
    position: relative;
    top: 200px;
}

.footer li {
    display: inline-block;
    text-decoration: none;
    padding: 0 5%;
}

.footer a {
    text-decoration: none;
    color: white;
}

span.fab { /*font awesome icons (twitter, fb, ig, etc)*/
    font-size: 45px;
    padding: 0 15px;
}