.gallery {
  --img-size: 15rem;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(3, var(--img-size));
}

.gallery img {
  width: var(--img-size);
  height: var(--img-size);
  cursor: pointer;
}
