.banner {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 18rem;
  margin-bottom: 1em;
  grid-template-areas: "banner";
}

.img-box {
  grid-area: banner;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  background: black;
}

.img-box img {
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.link {
  width: calc(1920px / 2);
  object-position: -35rem -3rem;
}
.natsume {
  width: calc(1920px / 2);
  object-position: -19rem -19rem;
}
.penny {
  width: 780px;
  object-position: -20rem -20rem;
}
.dolphin {
  width: 1230px;
  object-position: -60rem -30rem;
}

.banner-title {
  grid-area: banner;
  align-self: center;
  justify-self: center;
  margin: 1rem 1rem;
  color: white;

  font-size: 1.2em;
  font-weight: 100;

  z-index: 1;
}

.banner:hover .img-box img {
  opacity: 1;
}

.banner:hover .banner-title {
  text-transform: uppercase;
}

/* media queries: mobile first */
@media (min-width: 768px) {
  /* tablet: 768 or higher */

  .banner {
    grid-template-rows: 25rem;
  }

  .link {
    object-position: -20rem 0rem;
  }
  .natsume {
    object-position: -10rem -14rem;
  }
  .dolphin {
    object-position: -35rem -30rem;
  }
}

@media (min-width: 1024px) {
  /* desktop: 1024px or higher */
  .banner {
    grid-template-rows: 22rem;
  }

  .link {
    object-position: -5rem -2rem;
  }
  .natsume {
    object-position: -5rem -14rem;
  }
  .dolphin {
    object-position: -25rem -30rem;
  }
}
