.modal {
  display: grid;
  gap: 0.5em;
  grid-template-areas: "modal-close" "modal-image" "modal-text";
  grid-template-rows: repeat(3, min-content);
  align-content: start;
  justify-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.close-modal {
  grid-area: modal-close;
  width: 3.2rem;
  height: 3.2rem;
  justify-self: end;
  font-size: 3rem;
  color: white;
}

.modal-image {
  grid-area: modal-image;
  width: 100%;
}

.modal-text {
  grid-area: modal-text;
  color: white;
  text-align: center;
}

/* media queries: mobile first */
@media (min-width: 768px) {
  /* tablet: 768 or higher */
  .modal {
    overflow: auto;
  }

  .modal-image {
    width: auto;
    max-width: 80%;
    margin: 1em;
  }

  .close-modal {
    margin: 1em 1em 0 0;
  }
}
@media (min-width: 1024px) {
  /* desktop: 1024px or higher */
  .modal-image {
    width: auto;
    max-width: 100%;
  }
}
