.projects {
  --thumbnail-size: 15rem;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(2, min-content);
  justify-content: center;
}

.project {
  overflow: hidden;
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
}

.project img {
  cursor: pointer;
}

/* media queries: mobile first */
@media (min-width: 768px) {
  /* tablet: 768 or higher */
  .projects {
    grid-template-columns: repeat(3, min-content);
  }
}

@media (min-width: 1024px) {
  /* desktop: 1024px or higher */
  .projects {
    grid-template-columns: repeat(4, min-content);
  }
}
